.sidebarmain{
    border:1px solid white;
    width:85%;
    min-height:3rem;
    max-height:3rem;
    aspect-ratio: 2;
    border-radius:7px;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow:scroll;
    scrollbar-width: none;
    column-gap: 5px;
    margin:4px 0px;
}
.sidebartext{
    overflow:hidden;
    min-width:2rem;
    width:10rem;
    
    height:2rem;
    text-wrap:balance;
    text-align:start;
    color:white;
   
    display:flex;
    align-items: center;
    justify-content: center;
}
.sidebartext::after{
    content : "...";
}

.time{
    display:flex;
    flex-direction:column;
  
}
.date{
    color:black;
    font-weight:bold;
    color:greenyellow;
    
}
.icons{
    width:fit-content;
}
button{
    padding:3px 10px;
    background-color: white;
    color:black;
}
.addicon{
    display:flex;
    justify-content: center;
    align-items:center;
    width:4%;
    height:35%;
}

@media  (max-width:900px){
        .date{
            display:none;
        }
        .iconss{
            flex-direction:column;
        }
}

.sub{
    background-color: black;
    color:white;
    padding:4px 12px;
}

@media (max-width:400px){
    .sidebartext{
        font-size:0.5rem;
    }
    
}