.todomain{
    width: 100vw;
    height:100vh;
    background: linear-gradient(90deg,black 50%,white 50%);
    color:white;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
   
    
   
}

.todoouter{
    width:100%;
    display:flex;
    justify-content:center;
  
}

.todomap{
 
    padding:10px;
    width:50%;
    height:70%;
    overflow: scroll;
    scrollbar-width: none;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
 
   
   
}
.indtodo{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    color:black;
    font-weight: bold;
    width: 10rem;
    background-color: gray;
    border:2px solid black;
    aspect-ratio: 1;
    height:10rem;
    border-radius:10px;
    padding:6px;
    


}
.todoinput{
    color:black;
    border:2px solid black;
    text-align:center;
    padding: 0px 50px;
    
  
    
}
p{
   
    text-align: center;
}
.todotitle{
    font-size: 2em;
    height: fit-content;
    font-weight: bolder;
    background: -webkit-linear-gradient(90deg,rgb(255, 255, 255) , rgb(0, 0, 0) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Reddit Mono";
    display:flex;
    justify-content: space-between;
    
    width:50%;
    
}

.titleandlogout{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    
    height: fit-content;
}
.logoutbutton{
    width:5rem;
    padding:0px;
    height:2rem;
    padding:4px 16px;
    margin-right:2rem;
    text-align: center;
    background-color: black;
    color:white;
    border-radius:10px;
}
.todoadd{
    background-color: black;
    color:white;
    border-radius:5px;
    margin-left:2rem;
}
.back{
    background-color: black;
    color:white;
    border-radius:5px;
    align-self: flex-end;
    margin-right:2px;
}

.indiflex{
    
    display:flex;
    justify-content: space-between;
}
    

.indiicon{
    background-color: black;
    color:white;
    border:none;
    border-radius:5px;
}

.inditext{
    font-family:monospace;
    border-bottom: 1px solid black;
    width:100%;
    
}